@import "./base.scss";
@import "./scss/__variables.scss";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  background-image: linear-gradient(180deg, rgb(238, 235, 251), #fff);
}

a,
.green {
  text-decoration: none;
  color: $primary_color;
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: $primary-color;
    color: $light-text-color;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
